[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Created with GitHub API
[access "refs/*"]
	owner = group user/Latif Guliyev (LatifGuliyev)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Latif Guliyev (LatifGuliyev)
	label-Verified = -1..+1 group user/Latif Guliyev (LatifGuliyev)
	push = group user/Latif Guliyev (LatifGuliyev)
	read = group user/Latif Guliyev (LatifGuliyev)
	rebase = group user/Latif Guliyev (LatifGuliyev)
	removeReviewer = group user/Latif Guliyev (LatifGuliyev)
	submit = group user/Latif Guliyev (LatifGuliyev)
[access "refs/heads/*"]
	create = group user/Latif Guliyev (LatifGuliyev)
	push = +force group user/Latif Guliyev (LatifGuliyev)
	pushMerge = group user/Latif Guliyev (LatifGuliyev)
	read = group user/Latif Guliyev (LatifGuliyev)
[access "refs/tags/*"]
	push = group user/Latif Guliyev (LatifGuliyev)
	push = +force group user/Latif Guliyev (LatifGuliyev)
